.header-buttons {
  display: flex;
  gap: 30px;
}

.button-sign-in {
  border-color: var(--c-white-secondary);
  background-color: var(--c-white);
  color: var(--c-black);
}

.button:hover {
  background-color: var(--c-black);
  border-color: var(--c-black);
}

.button-sign-in:hover {
  color: var(--c-white);
  border-color: var(--c-black);
}