.buttons {
  display: flex;
  gap: 30px;
}

.sign-in {
  border: 1px solid var(--c-white-secondary);
  background-color: var(--c-white);
  color: var(--c-black);
  height: 45px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.sign-in:hover {
  color: var(--c-white);
  border-color: var(--c-black);
  background: var(--c-black);
}