.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.content {
  max-width: 500px;
}

.title {
  font-weight: 700;
  font-size: 2.75em;
  margin-bottom: 30px;
}

.text {
  color: var(--c-black-secondary);
  font-size: 1.125em;
  line-height: 1.75em;
  margin-bottom: 20px;
}

.img {
  max-width: fit-content;
}