.navigation-list-item-a {
  color: var(--c-black);
  /* Use padding instead of gap for better UX (expanding hover field) */
  padding: 10px;
  display: flex;
  transition: all 0.35s ease-in-out;
}

.navigation-list-item-a:hover {
  color: var(--c-primary);
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}